header {
    display: grid;
    grid-template-columns:48px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    border-bottom:solid 1px #ddd ;
    column-gap: 8px;
    background-color: #eee;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}





.hamburger{
    background: none;
    border: none;
    color: purple;
    cursor: pointer;
    padding-bottom: 10px;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00d7";
}


/* navigtion  */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: purple;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.current {
    background-color: #ddd;    
}

.navigation a:hover {
    background-color: salmon;
}





h1, h2 {
    font-family: "Cabin", sans-serif;
    color: purple;
}
p {
    font-family: "Nata Sans", sans-serif;
}

main div {
    padding: 1rem;
}
main {
    background-color: aliceblue;
    text-align: center;
}
main img {
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    
}

footer{
    margin: 0 auto;
    text-align: center;
    background-color: #eee;
    color: purple;
    /* padding-top: 0; */
}