header, main, footer {
    font-family: "Barlow", sans-serif;
}

header {
    display: grid;
    grid-template-columns:48px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    border-bottom:solid 1px #ddd ;
    column-gap: 8px;
    background-color: #ccc;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

header span {
    font-size: 1.2rem;
    color: darkblue;
    text-align: left;
}



.hamburger{
    background: none;
    border: none;
    color: darkblue;
    cursor: pointer;
    padding-bottom: 10px;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00d7";
}


/* navigtion  */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: darkblue;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: salmon;
}




.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 4px;
}
.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}

footer {
    text-align: center;
    border-top: solid black 2px;
    background-color: #ccc;
}



.grid img {
    width: 200px;
    height: auto;
}


.list {
	display: flex;
	flex-direction: column;

	
}

.list section {
    display: grid;
		grid-template-columns:  1fr 1fr;
		margin: 0;
		padding: 0.25rem;

		& > * {
			margin: 0 1rem;
		}

		img {
			display: none;
		}

		h3 {
			font-size: 1rem;
		}

		&:nth-child(even) {
			background-color: #ddd;
		}
        &:nth-child(odd) {
            background-color: #ffffff;
        }
}


.menu {
    margin: 0 auto;
    padding: .5rem;
    text-align: center;
    
}

.menu button {
    max-width: 68px;
    max-height: 68px;
}


.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
    row-gap: 5px;
    padding: .5rem;
    

	
}

.grid section {
	text-align: center;
    border: 1.5px solid black;
    background-color: #eee;
	& > * {
		margin: 0.1rem;
	}
}

h1 {
    text-align: center;
    color: darkblue;
}