@media only screen and (min-width: 54rem) {
    header, main, nav, footer {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 48px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px  black;
        background-color: #eee;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }
    
   #places {
    display: grid;
    grid-template-columns: 1fr 1fr;
   }
    
   #places section img:hover {
    box-shadow: 0 0 50px #333;
    }
}